
{{#each feasts}}

    {{#unless devoured}}

        <div class='col-6'>
            
        </div>

    {{/unless}}

    {{#if devoured}}

        <div class='col-6'>

        </div>

    {{/if}}

{{/each}}