
<div class='col-6 d-flex flex-column'>

    {{#each feasts}}

        {{#unless devoured}}

            <div class='mx-auto'><button class='btn btn-danger d-inline mx-2 devour' data-feast='{{feast_name}}'>Devour</button><h3 class='d-inline'>{{feast_name}}</h3></div>

        {{/unless}}

    {{/each}}

</div>

<div class='col-6 d-flex flex-column'>

    {{#each feasts}}

        {{#if devoured}}

            <div class='mx-auto my-1'><span class='bg bg-danger text-white rounded d-inline mx-2 p-2'>Devoured</span><h3 class='d-inline'>{{feast_name}}</h3></div>

        {{/if}}

    {{/each}}

</div>